<%
## Shards of Dalaya Spell Parser
## Copyright (C) 2013 Shards of Dalaya

## This program is free software: you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation, either version 3 of the License, or
## (at your option) any later version.

## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.

## You should have received a copy of the GNU General Public License
## along with this program.  If not, see <http://www.gnu.org/licenses/>.
%>

<!DOCTYPE html>
<html>
<head>
  <title>SoD Spell Parser</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
	<a href="https://github.com/ShardsofDalaya"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>
	<table border="0" width="900px" align="center" cellpadding="0" cellspacing="0">
		<tr>
			<td>&nbsp;</td>
			<td>
				<table border="0" cellpadding="0" cellspacing="0" width="900px">
					<tr>
						<td colspan="3"><%= image_tag('header_paper1000.jpg') %></td>
					</tr>
					<tr>
						<td class="backleft" width="27px">&nbsp;</td>
						<td align=left background="<%= asset_path('paper_back_faded.jpg') %>">
							<div align="center"><img src="<%= asset_path('pagehead_spellparser.jpg') %>"/></div><br/>
							<%= yield %>
							<br/>
							<div align="right"><input type="button" value="New Search" onclick="parent.location='<%= search_spells_path %>'" /></div>
							<div align="center"><a href="/">Shards of Dalaya Home Page</a></div>
						</td>
						<td class="backright" width="27px">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="3">
							<img src="<%= asset_path('footer-paper1000.jpg') %>"/>
						</td>
					</tr>
				</table>
			</td>
			<td>&nbsp;</td>
		</tr>
	</table>	
</body>
</html>
